<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">    
    
   <!--  this is our beans 
   We told the meta - data to the container-->    
     
     <bean autowire="byName" class="com.ayushi.Question10.Square" 
     id="square"></bean>
	
	<bean class="com.ayushi.Question10.Point" id="pointA">
  <property name="x" value="3"></property>
  <property name="y" value="3"></property>
</bean>
  
<bean class="com.ayushi.Question10.Point" id="pointB">
  <property name="x" value="5"></property>
  <property name="y" value="2"></property>
</bean>
  
<bean class="com.ayushi.Question10.Point" id="pointC">
   <property name="x" value="6"></property>
   <property name="y" value="4"></property>
</bean>

<bean class="com.ayushi.Question10.Point" id="pointD">
   <property name="x" value="4"></property>
   <property name="y" value="5"></property>
</bean>
</beans>